body {
font-family: 'Roboto', sans-serif;
font-style: normal;
background-color: var(--white);
color: var(--Black21);
font-size: 14px;
}
:root {--white: #ffffff;}
:root{--Black21: #212121;}
:root{--blue: #2196F3;}

ul { list-style: none; }



.web-colour-blue {
    color: var(--blue);
}

.color-studio-head { 
color: #000000
}

.company-name {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
 }

.header-background { 
background: var(--white);
 }

.header .header-current{
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: var(--Black21) ;}

.header .header-current:hover{ 
color: var(--blue);
}
    
.header .header-current:focus{ 
color: var(--blue);
}

.header .header-current :visited{
color: var(--Black21);
}

.header-contacts .header-mail{
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: var(--blue);
}

.header-contacts .header-phone{
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;   
color: #757575;
}

.header-contacts .header-phone:hover{ 
color: var(--blue);
}

.header-contacts .header-phone:focus{ 
color: var(--blue);
}

.header-contacts .header-mail:hover{ 
    color: var(--blue);
    }
    
    .header-contacts .header-mail:focus{ 
    color: var(--blue);
    }

.section-1-background{ 
background: #2F303A;
}

.section-1{
font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white);
}

.section-1-button{
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
color: var(--white);
background: var(--blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}

.section-1-button :focus{
visibility: hidden;
}
.section-1-button :hover{
visibility: hidden;
}
.section-1-button :active{
visibility: hidden;
}

.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.section-2-title{
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--Black21);
}
.section-2-descr{ 
line-height: calc(24/14);  
letter-spacing: 0.03em;
color: #757575;
}

.section-3-title{ 
font-size: 36px;
line-height: calc(42/36);
letter-spacing: 0.03em;
color: var(--Black21);
}

.section-4{
background: #F5F4FA;
}

.section-4-card-list .section-4-card-background{
background: var(--white);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-4-title{ 
font-size: 36px;
line-height: calc(42/36);
letter-spacing: 0.03em;
color: var(--Black21);
}
.section-4-name{
font-weight: 500;
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--Black21); 

}
.section-4-position{ 
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

.Map{
font-style: normal;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: var(--white);
}

.color-studio-footer{ 
color: var(--white);
}
.footer-background{
background: #2F303A;
}

.header-contacts .footer-mail{
font-weight: 500;
line-height: calc(16/14);
letter-spacing: 0.02em;   
color: #757575;
}

.header-contacts .Map .footer-mail .header-phone{
font-style: normal;
}

.header-contacts .footer-mail{
font-style: normal;
}

.footer-mail .header-mail{
font-style: normal;
}

.header-contacts .footer-mail:hover{ 
color: var(--blue);
}
        
.header-contacts .footer-mail:focus{ 
color: var(--blue);
}

.portfolio-button-style {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: calc(26/16);
text-align: center;
letter-spacing: 0.03em;
color: var(--Black21);
background: #F5F4FA;
border-radius: 4px;
cursor: pointer;
}

.button-list .portfolio-button :focus {
color: var(--white);
background: var(--blue);
}
.button-list .portfolio-button :hover {
color: var(--white);
background: var(--blue);
}
.button-list .portfolio-button :active{
color: var(--white);
background: var(--blue);
}

.portfolio-list .portfolio-img{
background: var(--white);
border: 1px solid #EEEEEE;
}

.portfolio-title{
font-size: 18px;
line-height: calc(36/18);
letter-spacing: 0.06em;
color: var(--Black21);
}
.portfolio-text{
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.03em; 
color: #757575;
}
